html {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
}
.banner{
	background-color: rgb(27, 27, 34,0.5);
	padding:1rem;
	font-size:1.5rem;
	color:#ffffff;
	font-family: 'Raleway', sans-serif;
}
.contain{
	margin: 0 auto;
    width: 50%;
}
.head-th{
	
}

.head-tr{
	background-color:#36d4f7;
}
.body-tr{
	background-color:white;
}
