<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<p>Save  employee details</p>
	<form th:action="@{/save}" method="POST" th:object="${employee}">
		<label for="name">Name :</label>
		<input type="text"  id="name"  placeholder="Name" th:field="*{name}">
		<label for="age">Age :</label>
		<input type="text"  id="age" placeholder="Age" th:field="*{age}">
		<label for="designation">Designation :</label>
		<input type="text"  id="designation" placeholder="Designation" th:field="*{designation}">
		<button type="submit" value="submit">Save</button>
	</form>
</body>
</html>